<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Galaxy Generator</title>
        <script type="text/javascript" src="jquery.js"></script>
        <script type="text/javascript" src="vue.js"></script>
        <style media="screen">
          .cell {
            width: 50px;
            height: 40px;
            border: 1px solid black;
            border-radius: 25px;
            text-align: center;
            line-height: 15px;
            padding-top: 10px;
            margin: 5px;
            cursor: default;
            display:inline-block;
          }
          .row {
            white-space: nowrap;
          }
          .center {
            background-color: #f88;
          }
          .empty {
            background-color: #aaa;
          }
        </style>
    </head>
    <body>
      <div id="output">
        <div v-for="row in $data" class="row">
          <span v-for="cell in row" v-bind:class="cell.classes" class="cell">
            {{ cell.x }}<br>
            {{ cell.y }}
          </span>
        </div>
      </div>
      <script type="text/javascript">
        function Xor128(x, y, z, w) {
            this.x = (x ? x >>> 0 : 123456789);
            this.y = (y ? y >>> 0 : 362436069);
            this.z = (z ? z >>> 0 : 521288629);
            this.w = (w ? w >>> 0 : 88675123);
        }
        function Xor128_init(seed) {
            return new Xor128(seed);
        }
        Xor128.init = Xor128_init;
        function next() { // @return Number:
            var me = this, x = me.x, w = me.w,
                t = x ^ (x << 11);

            me.x = me.y = me.z = w;
            return me.w = (w ^ (w >> 19)) ^ (t ^ (t >> 8));
        }
        Xor128.prototype.next = next;
        function make(cnt) {
            var result = [];

            for (var i = 0; i < cnt; ++i) {
                result[i] = this.next();
            }
            return result;
        }
        Xor128.prototype.make = make;
        function Xor128_random(seed) {
            return Xor128_init(seed).make(3)[2] / 4294967296 * 2;
        }
        Xor128.random = Xor128_random;

        function coordsToSeed(x, y) {
          x = x & (Math.pow(2, 16) - 1)
          y = y & (Math.pow(2, 16) - 1)
          return ((x << 16) | y)
        }

        function generateSystems(x, y, width, height) {
          xbounds = [x - width, x + width]
          ybounds = [y - height, y + height]
          var systems = [[]]
          var i = 0, j = 0
          for (var y = ybounds[0]; y <= ybounds[1]; y++) {
            for (var x = xbounds[0]; x <= xbounds[1]; x++) {
              if (!systems[j]) {
                systems[j] = []
              }
              systems[j][i] = generateSystem(x, y)
              i++
            }
            j++
            i = 0
          }
          return systems
        }

        var density = 1

        function generateSystem(x, y) {
          var seed = coordsToSeed(x, y)
          var rnd = Xor128.random(seed)
          var classes = []

          if (Math.random() < density) {
            var bodies = Math.ceil(rnd * 10)
          } else {
            classes.push("empty")
          }
          if (x === 0 && y === 0) {
            classes.push("center")
          }

          return {
            x: x,
            y: y,
            seed: seed,
            rnd: rnd,
            bodies: bodies,
            classes: classes
          }
        }

        data = generateSystems(0, 0, 10, 10)
        new Vue({
          el: '#output',
          data: data
        })
      </script>
    </body>
</html>
